html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans ', sans-serif;
  max-width: 320px;
  margin: auto;
  padding: 5px 20px 5px 20px;
  background-color: black;
  text-align: left;
  line-height: 22px;
  font-size: 17px;
}

header {
  background-image: linear-gradient(rgba(40, 37, 37, 0.762), rgba(40, 37, 37, 0.762)), url("../img/background_titre.png");
  border: solid 2px white;
}

footer {
  border: solid 2px #00fca6;
  text-align: center;
  padding: 5px 0px;
  font-size: 0.8em;
  margin-top: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 25px;
}

h3 {
  font-size: 15px; 
}

h1, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

button {
  background-color: #444444;
  border: none;
  padding: 5px 10px;
  font-weight: 700;
}

button:hover {
  background: #666;
}

.bgGreen {
  background-color: #00fca6;
}

figure {
  margin: 0%;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); text-align: center;
}

.bgWhite {
  background-color: white;
}

.colorGreen {
  color: #00fca6;
}

.colorWhite {
  color: white;
}

.colorBlack {
  color: black;
}

.opacityWhite {
  color: rgba(255, 255, 255, 0.646);
}

.opacityBlack {
  color: rgba(0, 0, 0, 0.55);
}

.italic {
  font-style: italic;
}

.thin {
  font-weight: 100;
}

.container {
  margin-top: 15px;
  margin-bottom: 15px;
}

.item {
  padding: 30px 25px;
}

.subtitle {
  font-size: 0.8em;
}